<!DOCTYPE html>
<html ng-app="movieApp">
<head>
	<title>fundaytoday</title>

	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/movies.css" rel="stylesheet">
</head>
<body>

	<!-- header starts -->
	<div class="header">
		<div class="navbar-header">
			<a href="#"><img class="navbar-brand" alt="fundaytoday" src="images/logo.png"></a>
			<h1 class="header-font">be a part of daily enjoyment</h1>
			<div class="navbar-icons">
				<a href="index.html" class="movies btn btn-default" title="home">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <a href="about.html" class="movies btn btn-default" title="about">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <a href="images.html" class="movies btn btn-default" title="images">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                </a>
                <a href="videos.html" class="movies btn btn-default" title="videos">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                </a>
			</div>
		</div>
	</div>
	<!-- header ends -->

	<div class="container" ng-controller="listmovies">

		<!-- <hr class="divider"> -->

		<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="cntainer-font">Now Showing Movies</h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="movie in movies">
                <div class="thumbnail">
                    <img class="poster_style" ng-src="images/{{movie.movie_poster}}" alt="{{movie.movie_name}}">
                    <div class="caption">
                    <!-- <p>Name: <input type="text" ng-model="name"></p> -->
                    <!-- <p ng-bind="name"></p> -->
                        <h3 class="movie-title">{{movie.movie_name}}</h3>
                        <p class="movie-discription">{{movie.movie_type}}</p>
                        <p>
                            <a href="book.html?movie={{movie.id}}" class="btn btn-primary">Book Now</a> 
                            <a href="description.html?movie={{movie.id}}" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright & copy is by fundaytoday 2017</p>
                </div>
            </div>
        </footer>
    	<!-- footer ends -->

	</div>
	<!-- container ends -->

	 <!-- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- angular min and movie angular file link -->
    <script src="js/angular.min.js"></script>
    
    <script src="js/movieapp.js"></script>

</body>
</html>